@import "../../../../assets/style/abstracts/colors.scss";

.breadcrumb {
	a {
		color: rgb(195, 195, 195) !important;

		&.active a {
			color: rgb(147, 147, 157) !important;
			font-weight: normal !important;
		}
	}
}