@import "../../../../assets/style/abstracts/colors.scss";

.management {
	$padding-vertical: 15px;
	$padding-horizontal: 30px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

	&__filters {
		background: white;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		padding: $padding-vertical $padding-horizontal;

		&__filter {
			display: -ms-grid;
			display: grid;

			.field {
				margin-bottom: 0 !important;
			}

			&__item {
				&--one-line {
					align-items: flex-end;
					
					& > .field {
						width: 41%;
					}

					span {
						margin: 0 5px;
						margin-bottom: 10px;
					}
				}

				&__tab .ui.menu {
					box-shadow: none;
					background: transparent;
					border: none;
					.item {
						background: $gray--container-inactive;
						transition: 0.2s background ease-in-out;
						flex-grow: 1;
						justify-content: center;
						color: white;

						&.active, &:hover {
							color: white;
							background: $black--block;
						}


						&:last-of-type {
							border-top-right-radius: 4px;
							border-bottom-right-radius: 4px;
						}
					}
				}
			}

			&--double {
				grid-template-columns: 30% calc(70% - 40px);
				grid-column-gap: 40px;
			}

			&--triple {
				grid-template-columns: 40% 20% 40%;
				grid-column-gap: 20px;
			}
		}
	}

	&__table {
		background: $gray--light;
		margin-bottom: $padding-vertical;

		.table {
			background: transparent;
			border-radius: 0;
			box-shadow: none;
			border: none;
			
			thead {
				background: $gray--very-light;
			}
			tbody {
				background: transparent;
			}
			tr {
				td, th {
					border: none;	
				}

				td:first-of-type, th:first-of-type {
					padding-left: $padding-horizontal;
				}
				td:last-of-type, th:last-of-type {
					padding-right: $padding-horizontal;
				}
			}

			.circle {
				margin-right: 10px;
			}

			.row {
				display: flex;
				align-items: center;
			}
		}

		&__pages {
			padding: ($padding-vertical * 2) $padding-horizontal;
			display: flex;
			justify-content: center;

			.pagination {
				box-shadow: none;
				border: none;

				.item {
					background: $gray;

					&.active, &:hover {
						background: $orange !important;
					}
					
					&.disabled {
						background: $gray !important;

						&:hover {
							background: $gray !important;
						}
					}
				}
			}
		}
	}
}

.circle {
	width: 10px;
	height: 10px;
	background: #4CD964;
	border-radius: 50%;
	border: 1px solid transparent;

	&--empty {
		background: transparent;
		border-color: #4CD964;
	}
}