@import "../../../../assets/style/abstracts/colors.scss";

.desktop-layout {
	$padding-vertical: 15px;
	$padding-horizontal: 30px;
	display: flex;
	max-width: 100%;
	max-height: 100vh;
	overflow-y: hidden;

	&__content {
		flex-grow: 1;
		overflow-x: hidden;
		overflow-y: scroll;
		padding: $padding-vertical 0;

		.breadcrumb {
			padding: $padding-vertical $padding-horizontal;
			background: rgb(236, 236, 236);
			margin-bottom: 30px;
			width: 100%;
		}

		&__header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 $padding-horizontal;
			$space: 10px;
			margin-bottom: $space;

			&__info {
				display: flex;
				align-items: center;

				& > * {
					margin-right: $space;

					&:last-child {
						margin-right: 0;
					}
				}
				
				&__title {
					margin-bottom: 0;
				}

				&__icon {
					cursor: pointer;
				}

				&__page-name {
					position: relative;
					padding-left: $space;
					line-height: 40px;
					vertical-align: middle;
					color: $gray--text-inactive;
					font-family: 'ProximaNova-Semibold';
					font-size: 12px;

					&:before {
						position: absolute;
						left: 1px;
						top: 0px;
						width: 1px;
						height: 100%;
						content: '';
						background: $gray--container-inactive;
					}

					&--row {
						display: flex;
						align-items: center;
						height: 40px;
						margin-left: 20px;
						.row {
							display: flex;
							align-items: center;

							img {
								margin-right: 20px;
								&:last-of-type {
									margin-right: 0;
								}
							}
						}
					}
				}
			}
		}

		&__children {
			padding: 0 $padding-horizontal;
		}
	}
}