$base__gray: #D8D8D8;
$base__gray--very-light: #F6F6F6;
$base__gray--light: #ECECEC;
$base__gray--text-caption: #989898;
$base__gray--text-inactive: #5F5F5F;

$base__orange: #FFCC00;
$base__yelow: #FFDA00;
$base__red: #FF0000;

$base__black: #333333;
$base__black--block: #2B2D42;
