$gray: #D8D8D8;
$gray--very-light: #F6F6F6;
$gray--light: #ECECEC;
$gray--text-caption: #989898;
$gray--text-inactive: #5F5F5F;

$orange: #FFCC00;
$yellow: #FFDA00;
$red: #FF0000;

$black: #333333;
$black--block: #2B2D42;
