.preview-co {

    .row--half-splitted > * {
        width: 49% !important;
    }

    .form-field__label {
        width: auto !important;
    }

	&__wrapper {
		background: white;
		border-radius: 4px;
	}

	&__sub-title {
		margin-bottom: 30px;
	}

	.form-field {
		margin-bottom: 14px;
	}

	.reasons {
		margin-bottom: 14px;
		.form-field {
			margin-bottom: 7px !important;
		}

		&__item {
			font-size: 12px;
		}
	}

	.penalties {
		margin-bottom: 14px;
		& > .form-field {
			margin-bottom: 7px !important;
		}
		.row {
			.form-field {
				&:last-child {
					.form-field__label {
						font-size: 16px;
					}
				}
			}
		}
	}
}